* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #433050;
}

body {
  background-color: #f7f7f8;
}

html {
  font-family: 'Droid Sans Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #6e00ff;
}

a:visited {
  color: #420099;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.8rem;
  }
}
